<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>初始化数据</title>
</head>
<body>
    <button type="button" style="height: 40px;width: 100px" name="初始化数据" onclick="initdata()">初始化数据 </button>
    <p>==================初始化数据==========================</p>
</body>
<script src="/js/jquery-3.5.1.min.js" th:href></script>
<script type="text/javascript" th:inline="javascript">
    function initdata() {
        $.ajax({
            method : "get",
            url: "/init/kaishi",
            success : function () {

            }
        })
    }
</script>
</html>